body {
    background-color: #f7f6f4;
}

ul li {
    display: inline;
    margin: 25px;
    text-align: center;
}

.nav-item > a {
    color: #393d50;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
}

div.a {
    color: #271617;
}

.card-title {
    font-size: 20px;
}

.card-body {
    border-bottom: 1px solid black;
    background-color: #f7f6f4;
}

