img {
    height: 300px;
    width: 350px;
}

.sortingHatQuote {
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.sortinHatButton:focus {
    box-shadow: none;
    text-decoration: none;
}

button {
    font-family: 'Cinzel', serif;
}

.nameOfHouseHeading {

    -webkit-animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
